Flask
Celery
redis
flask_sqlalchemy
python-dotenv
flask_marshmallow
marshmallow-sqlalchemy
matplotlib
marshmallow
psycopg2-binary
pandas
bs4
requests
numpy
scipy
setuptools==69.0.0
tqdm
sympy
debugpy
gunicorn
loky
imageio
billiard